@model IEnumerable < DL.ECS.Team.Scenarios.Domain.PlayerModel >
@{
    ViewBag.Title = "Players";
}

<b>Players</b>
<br />
@foreach (var item in Model)
{
    @Html.ActionLink("C", "SetCaptain", "Home", new { teamId = @item.TeamId, playerId = @item.Id }, null)

    @item.Id
    @item.Name
    if (@item.IsCaptain)
    {
        <div>(Cap)</div>
    }
    <br />
}